table{
    margin: auto;
    /* border-color: black;
    border: thick; */
}

.dayOfWeek th {
    height: 50px;
    width: 200px;
    background-color: aquamarine;

}

.dailyAmount{
    height: 50px;
    width: 200px;
    text-align: left;    
}

