/*This is for the header---*/
header{
    margin: auto;
    text-align: center;
}
#imageHeader{
    height: 200px; 
    width: 90%; 
    
}
/*-------------------------*/
body{
    background-color: rgb(44, 44, 44);
}
main{
    background-color: aliceblue;
    width: 90%;
    margin: auto;
}